name: CI Reusable
# CI checks for linting and formatting.

on:
  workflow_call:

permissions:
  contents: read

jobs:
  # Lua static analysis.
  luacheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: leafo/gh-actions-lua@v12
      - uses: leafo/gh-actions-luarocks@v6
      - name: Install LuaCheck
        run: luarocks install luacheck
      - name: Run LuaCheck
        run: luacheck .

  # Markdown style checks.
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DavidAnson/markdownlint-cli2-action@v20

  # Lua formatting checks.
  stylua:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ github.token }}
          version: latest
          args: --check .

  # General formatting checks.
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Run Prettier
        run: |
          npx --yes prettier . --check --ignore-unknown
