name: PR Title Lint

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  semantic-pull-request:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Lint PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
