name: Release
# Release automation powered by release-please.

on:
  workflow_call:
    inputs:
      config_file:
        required: false
        type: string
        default: .github/release-please-config.json
      manifest_file:
        required: false
        type: string
        default: .github/.release-please-manifest.json

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          config-file: ${{ inputs.config_file }}
          manifest-file: ${{ inputs.manifest_file }}
